@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-4px);
	}
}

/* ================ */

@keyframes gradient-shift {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient-flow {
	from {
		background-position: 0% 50%;
	}

	to {
		background-position: 200% 50%;
	}
}

/* ================ */

@keyframes project-fall {
	from {
		opacity: 0;

		filter: blur(12px);

		transform: translateY(-120px) scale(0.85);
	}

	60% {
		opacity: 1;
	}

	to {
		opacity: 1;

		filter: blur(0);

		transform: translateY(0) scale(1);
	}
}

/* ================ */

@keyframes gojo-enter {
	from {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes gojo-light-float {
	from {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
	}
}
